<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace = 绑定一个mapper 接口-->
<mapper namespace="mapper.UserMapper">
    <!-- select command from sql-->
    <select id="getAllUser" resultType="entities.User">
        select * from newDD.employees
    </select>
    <select id="getUserByUsername" parameterType="String" resultType="entities.User">
        select * from newDD.employees where username = #{username}
    </select>
    <!--对象中属性，可以直接取出来-->
    <insert id="addUser" parameterType="com.newproject.entity.User">
        insert into newDD.employees (username, email, DOB, firstname,
                                     salt, hash, lastname) values (#{username}, #{email}, #{DOB}, #{firstname},
                                                                   #{salt}, #{hash}, #{lastname})
    </insert>
    <update id="updateUser" parameterType="com.newproject.entity.User">
        update newDD.employees
        set email = #{email},
            DOB   = #{DOB},
            firstname = #{firstname},
            salt = #{salt},
            hash = #{hash},
            lastname = #{lastname}
        where username = #{username};
    </update>
    <delete id="deleteUser" parameterType="String">
        delete
        from newDD.employees
        where username = #{username};
    </delete>
</mapper>